{% extends "django_pain/base.html" %}
{% load i18n %}

{% block content %}
    {% for payment in payments %}
        <b>{% trans "Payment" %} {{ payment.identifier }} ({{ payment.state }})</b>
        <ul>
            <li>{% trans "Account number" %}: {{ payment.account.account_number }}</li>
            <li>{% trans "Account name" %}: {{ payment.account.account_name }}</li>
            <li>{% trans "Transaction date" %}: {{ payment.transaction_date }}</li>
            <li>{% trans "Counter account number" %}: {{ payment.counter_account_number }}</li>
            <li>{% trans "Counter account name" %}: {{ payment.counter_account_name }}</li>
            <li>{% trans "Amount" %}: {{ payment.amount }}</li>
            <li>{% trans "Description" %}: {{ payment.description }}</li>
            {% if payment.variable_symbol %}
                <li>{% trans "Variable symbol" %}: {{ payment.variable_symbol }}</li>
            {% endif %}
            {% if payment.constant_symbol %}
                <li>{% trans "Constant symbol" %}: {{ payment.constant_symbol }}</li>
            {% endif %}
            {% if payment.specific_symbol %}
                <li>{% trans "Specific symbol" %}: {{ payment.specific_symbol }}</li>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}
