.inline-group .tabular td.original,
.inline-group .tabular th.original {
    display: none;
}

.inline-group .tabular tr.has_original td {
    padding: 5px;
}

form div.form-row {
    padding: 5px 10px;
    display: flex;
}

form div.form-row.errors {
    display: block;
}

form div.form-row .fieldBox {
    flex: 1;
}

.payment_deferred {
    background: LightCoral;
}

.payment_processed {
    background: LightGreen;
}

img.open-detail-icon {
    width: 16px;
}

.field-client_link {
    word-break: keep-all;
}
